.product {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 20rem;
  }

  @media (max-width: 768px) {
    h3 {
      padding-left: 1rem;
    }
  }
}

.productToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.productToolbar select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  font-size: medium;

  &:focus {
    outline: none;
    border: 1px solid #4caf50;
  }

  &:hover {
    cursor: pointer;
  }
}

.productToolbar input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  font-size: medium;
  width: 380px;

  &:focus {
    outline: none;
    border: 1px solid #4caf50;
  }
}

.productToolbar button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin: 4px 1px;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

.productContainer {
  display: grid;
  gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  width: 100%;
  height: 740px;
}

.productCard img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.productCard .productInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.productCard h5 {
  background-color: aquamarine;
  border-radius: 10px;
  align-content: center;
  width: 100px;
  height: 20px;
}

.productCard h4 {
  text-align: left;
}

.productCard p {
  text-align: right;
}

.productCard button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

.productButton {
  margin-top: 3rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}
